
.hero {
  text-align: center;
}

.hero-blue {
  background: $blue;
  color: #fff;
}

.hero-white {
  border-top: 1px solid $xlt-grey;
}

.hero .wrapper {
  padding: $base*2 0;

  @include bp-min-width($medium) {
    padding: $base*4 0;
  }
}

.hero-white .wrapper {
  padding: $base*2 0 0;

  @include bp-min-width($medium) {
    padding: $base*3 0 0;
  }
}

.hero h1:not(:last-child) {
  margin-bottom: $base;
}

.hero p {
  @include max-8-col;
  @include font-size(15px);
  
  &:not(:last-child) {
    margin-bottom: $base;
  }

  @include bp-min-width($medium) {
    @include font-size(19px);
  }
}

.hero-white h1 {
  color: $blue;
}