/*****************************************
  PAGER / POST NAV (Blog)
*****************************************/

.post-nav {
  @include cf;
  @include font-size(13px);
  position: relative;
  margin-bottom: $base;
}

.pager {
  text-align: center;

  @include bp-max-width($xsmall) {
    display: none;
  }
}

.pager li {
  display: inline-block;
}

.pager a {
  display: block;
  padding: 5px 10px;
}

.older-newer-posts li {
  @include bp-min-width($xsmall) {
    position: absolute;
    top: 5px;
  }
}

.older-newer-posts li:nth-child(1) {
  float: left;
  
  @include bp-min-width($xsmall) {
    left: 0;
  }
}

.older-newer-posts li:nth-child(2) {
  float: right;

  @include bp-min-width($xsmall) {
    right: 0;
  }
}

.older-newer-posts [class^="icon-"] {
  width: 8px;
  height: 14px;
  vertical-align: -2px;
  fill: $blue;
}