
.section-testimonals {
  background: $creme;
}

.testimonial-quote {
  @include font-size(17px);
  position: relative;
  margin-bottom: 16px;
  color: $black;
  font-family: $goth;
  font-style: italic;
  
  @include bp-max-width($xlarge) {
    padding-left: 24px;
  }
  
  @include bp-min-width($medium) {
    @include font-size(21px);
    @include line-height(30px);
    padding-right: 2%;
  }
}

.quote-mark {
  @include font-size(36px);
  position: absolute;
  left: 0;
  top: 8px;
  color: $black;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: $bold;

  @include bp-min-width($xlarge) {
    @include font-size(48px);
    top: 10px;
    left: -34px;
  }
}

.testimonial-info {
  @include cf;
  position: relative;
}

.testimonial-headshot {
  border-radius: 50%;
}

.testimonial-name-org {
  @include vertical-center(absolute);
  left: 86px;
  @include line-height(20px);
}

.testimonial-name {
  @include font-size(17px);
  font-weight: $med;
}

.logo-grid {
  @include bp-min-width($large) {
    margin-top: -12px;
  }
}

.logo-grid li {
  float: left;
  width: 33.333%;
  margin-bottom: $base;
  padding: 0 10px;
  text-align: center;

  @include bp-min-max($medium, $large) {
    width: 50%;
  }
}

.logo-grid li:nth-child(5),
.logo-grid li:nth-child(6) {
  @include bp-min-max($medium, $large) {
    margin-bottom: 0;
  }
}


