
$black:     #24292b;

$xxlt-grey: #f8f8f8;
$xlt-grey:  #e9e9e9;
$lt-grey:   #b7bbbc;
$grey:      #838687;
$dk-grey:   #5b5f60;

$xxlt-blue: #eff7fb;
$xlt-blue:  #3ba6db;
$lt-blue:   #3399cc;
$blue:      #006699;

$lt-green:  #99cc66;
$md-green:  #359e01;
$green:     #339900;

$red:       #cc3333;

$purple:    #993399;

$yellow:    #ffcc33;

$creme:     #fffaea;
