
.form-item {
  margin-bottom: 12px;
}

label {
  @include font-size(15px);
  display: block;
}

.form label {
  margin-bottom: 4px;
  color: $black;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 1em 1em;
  border: 1px solid $grey;
  outline: none;
  font: $book 0.875em/1em $goth-ss;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid $dk-grey;
}

input[type="file"] {
  background: none;
  border: none;
  font: 400 1em/1em $goth-ss;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  padding: 0.5em 1em;
  border: none;
  background: $lt-green;
  font: 400 1em/1em $goth-ss;
  color: #fff;
  cursor: pointer;
}

select {
  width: 100%;
  height: 36px;
  padding: 0 10px;
  border: 1px solid $grey;
  outline: none;
  font: 400 1em/1em $goth-ss;
}

textarea {
  height: $base*4;
  resize: none;
}


/** Select ============**/

.form-select {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 17px;
    right: 17px;
    width: 11px;
    height: 7px;
    background: $sprite no-repeat -15px -20px;
  }
  
}

.form-select select {
  @include appearance(none);
/*
  text-indent: 0.01px;
  text-overflow: '';
*/
}

select::-ms-expand {
  display: none;
}


/** Fieldset ============**/

fieldset {
  margin-bottom: $base*2;

  &:last-of-type {
    margin-bottom: $base;
  }
}

fieldset .title,
.order-summary .title {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid $grey;
  font: $book 24px/1 $goth-ss;
}


/** Checkboxes ============**/

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.form-checkbox {
  position: relative;
  margin-bottom: 0.5em;

  input {
    opacity: 0;
    float: left;
    width: 20px;
  }
}

.form-checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 13px;
    height: 13px;
    background: $grey;
    border-radius: 3px;
  }

  .description {
    display: block;
    color: $grey;
    font-size: 12px;
    line-height: 1;
  }
}

.form-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 13px;
  height: 15px;
}

.checkboxes input {
  opacity: 0;
  float: left;
  width: 20px;
}


/** Radio ============**/

.form-radio {
  label, input {
    display: inline-block;
  }
}


/** Label Overlay Input ============**/

.form-input-wrap {
  position: relative;
  height: 46px;
  background: #fff;
}

.form-input-wrap label {
  @include font-size(15px);
  padding: 0.5em 0 0 1em;
  color: $grey;
}

.form-input-wrap input {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  
  &:focus {
    border: none;
  }
}


/** Messages ============**/

.message {
  margin-bottom: 12px;
  font-weight: $bold;
  
  &.success {
    color: $green;
  }

  &.error {
    color: $red;
  }
}
