
svg {
  @include global-transition;
}

svg:not(:root) {
  overflow: hidden;
}

[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

/*
.icon-facebook {
  width: 36px;
  height: 36px;
  fill: #fff;
}
*/

.icon-arrow {
  width: 10px;
  height: 15px;
  fill: $green;
}

.icon-email {
  width: 30px;
  height: 32px;
  fill: $yellow;
}

.icon-social {
  width: 32px;
  height: 32px;
  fill: $yellow;
}

.icon-close {
  width: 24px;
  height: 24px;
  fill: $black;
}