
$logo: image-url("logo.svg");

$icon-checkmark: image-url("icon-checkmark.svg");
$icon-arrow-thick: image-url("icon-arrow-thick.svg");

$hero-home: image-url("hero-home.jpg");
$hero-features: image-url("hero-features.jpg");
$hero-about: image-url("hero-about.jpg");