body {
  background: $grey;
}

.container {
  background: #fff;
  
  @include bp-min-width($large) {
    @include cf;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 72px;
  }
}

.wrapper {
  @include cf;
  width: 90%;
  margin: 0 auto;
  padding: $base*1.5 0;

  @include bp-min-width($medium) {
    width: 94%;
    max-width: 1208px;
    padding: $base*3 0;
  }
}

.main .wrapper {
  position: relative;
}

.content-left {
  @include bp-min-width($medium) {
    padding-right: 312px;
  }

  @include bp-min-width($large) {
    padding-right: 416px;
  }
}

.sidebar-right {
  @include bp-min-width($medium) {
    position: absolute;
    top: $base*3;
    right: 0;
    width: 272px;
  }

  @include bp-min-width($large) {
    width: 376px;
  }
}

.mobile-visible {
  visibility: visible;
}

.mobile-hidden {
  visibility: hidden;
}
