
$goth: 'Gotham A', 'Gotham B', Helvetica, arial, sans-serif;
$goth-ss: 'Gotham SSm A', 'Gotham SSm B', Helvetica, arial, sans-serif;

$base:  24px;

$book:  400;
$med:   500;
$bold:  700;

body {
  font: $book 1em/1.5em $goth-ss;
  color: $dk-grey;
}

h1, h2, h3, h4, h5 {
}

h1 {
  @include font-size(27px);
  @include line-height(32px);
  font-family: $goth;
  font-weight: $bold;

  @include bp-min-width($medium) {
    @include font-size(48px);
    line-height: 1;
  }
}

h2 {
  @include font-size(24px);
  @include line-height(27px);
  font-family: $goth;
  font-weight: $bold;

  @include bp-min-width($medium) {
    @include font-size(27px);
  }
}

h3 {
  @include font-size(17px);
  color: $black;
  font-family: $goth;
  font-weight: $bold;

  @include bp-min-width($medium) {
    @include font-size(21px);
  }
}

h4 {
  @include font-size(17px);
  font-weight: $bold;
}

h5 {
  @include font-size(15px);
  font-weight: $bold;
}

p {
  @include font-size(15px);
}

strong, b {
  font-weight: $bold;
}

em {
  font-style: italic;
}

.center {
  text-align: center;
}

.section-title {
  margin-bottom: $base;
  color: $blue;
}

.section-title-center {
  margin-bottom: $base;
  color: $blue;

  @include bp-min-width($medium) {
    @include font-size(32px);
    text-align: center;
    margin-bottom: $base*2;
  }
}

.label {
  color: $dk-grey;
  font-weight: $bold;
}

.body p,
.body ul,
.body ol {
  margin-bottom: $base;
  color: $grey;

  &:last-child, &.label {
    margin-bottom: 0;
  }
}

.body ul,
.body ol {
  margin-left: 1.5em;
}

.body ul li {
  list-style: disc;
}

.body ol li {
  list-style: decimal;
}

.intro {
  margin-bottom: $base;

  @include bp-min-width($medium) {
    @include font-size(18px);
  }
}
