
.footer {
  @include cf;
  color: #fff;
}

.footer .wrapper, {
  @include bp-min-width($medium) {
    padding: $base*2 0;
  }
}

.footer a {
  color: #fff;
  
  &:hover {
    color: $sky-blue;
  }
}

.footer-top {
  @include cf;
  background: $blue;
}

.footer-bottom {
  background: $lt-blue; 
}

.footer-bottom p {
  @include font-size(13px);
}

.footer-co-info {
  @include cf;
  margin-bottom: $base;
  
  @include bp-min-width($medium) {
    float: left;
  }
}

.footer-co-info .footer-logo {
  margin-bottom: 18px;
}

.footer-co-info .footer-phone {
  margin-bottom: 12px;
}

.footer-social li {
  float: left;
  margin-right: 10px;
}

.footer-nav {
  @include bp-min-width($medium) {
    float: right;
    width: 66.666%;
  }
  
  @include bp-min-width($large) {
    width: 50%;
  }
}

.footer-nav .col {
  @include bp-min-width($xsmall) {
    float: left;
    width: 33.333%;
  }
}

.footer-nav .col:not(:last-child) {
  @include bp-max-width($xsmall) {
    margin-bottom: $base;
  }
}

.footer-nav h4 {
  margin-bottom: 16px;
}

.footer-nav a {
  @include font-size(14px);
}
