
.header .nav {
  text-align: center;
}

.header .nav-links {
  @include bp-max-width($large) {
    display: none;
    
    &.is-active {
      display: block;
      padding-top: 12px;
      clear: both;
    }
  }
}

.header .nav li {
  @include bp-min-width($large) {
    display: inline-block;
    margin: 0 20px;
  }
}

.header .nav li a {
  position: relative;
  font-weight: $med;

  @include bp-max-width($large) {
    @include font-size(17px);
    display: block;
    background: $lt-blue;
    color: #fff;
    padding: 20px;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2);
  }

  @include bp-min-width($large) {
    @include font-size(15px);
    color: $dk-grey;
  }
}

.header .nav li a:after {
  @include bp-min-width($large) {
  	@include global-transition;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -33px;
    display: block;
    height: 6px;
    background: $lt-blue;
  }
}

.header .nav a:hover:after {
  @include bp-min-width($large) {
    bottom: -27px;
  }
}

.header .btn-mobile {
  @include font-size(15px);
  float: right;
  min-width: 0;
  padding: 0.5em 1.5em;
  background: $lt-blue;

  @include bp-min-width($large) {
    display: none;
  }
}

.header .btn-demo {
  @include font-size(15px);
  position: absolute;
  top: 16px;
  right: 0;
  min-width: 0;
  padding: 0.5em 1.5em;

  @include bp-max-width($large) {
    display: none;
  }
}
