/*****************************************
  SIDEBAR (Blog)
*****************************************/

.sidebar .block {
  margin-bottom: $base;

  @include bp-min-width($medium) {
    margin-bottom: $base*1.5;
  }
}

.sidebar .block-title {
  @include bp-min-max($medium, $large) {
    @include font-size(17px);
  }
}

.search-form {
  position: relative;
}

.search-form .form-input-wrap {
  border: 1px solid $lt-grey;
}

.search-form .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
}

.block-social-links {
  @include cf;
  padding: $base 30px;
  background: $xxlt-blue;
  border: 1px solid $xlt-grey;
}

.block-social-links .block-title {
  @include bp-max-width($large) {
    margin-bottom: 12px;
  }

  @include bp-min-width($large) {
    float: left;
    margin-right: 20px;
    padding-top: 5px;
  }
}

.block-social-links li {
  float: left;
  margin-right: 20px;
}

.block-social-links [class^="icon"] {
  width: 36px;
  height: 36px;
  fill: $blue;
}

.block-link-list {
  padding: $base 30px;
  background: $xxlt-grey;
  border: 1px solid $xlt-grey;
}

.block-link-list .block-title {
  margin-bottom: $base;
}

.block-link-list li:not(:last-child) {
  margin-bottom: 12px;
}

.block-contact {
  padding: $base 30px;
  background: $xxlt-grey;
  border: 1px solid $xlt-grey;
}

.block-contact .block-title {
  margin-bottom: 12px;
}

.block-contact p {
  @include font-size(13px);
  @include line-height(20px);
  margin-bottom: 12px;
}

.block-contact li:first-child {
  margin-bottom: 12px;
}

.block-contact li svg {
  vertical-align: -2px;
  margin-right: 10px;
}
