* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe {
  width: 100%;
}

object {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  font: 400 1em/1.5em "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
  color: #5b5f60;
}

h1, h2, h3, h4, h5 {
  line-height: 1;
}

h1 {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  font-weight: 700;
}
@media (min-width: 43.75em) {
  h1 {
    font-size: 48px;
    font-size: 3rem;
  }
}

h2 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-family: "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  font-weight: 700;
}
@media (min-width: 43.75em) {
  h2 {
    font-size: 27px;
    font-size: 1.6875rem;
  }
}

h3 {
  font-size: 19px;
  font-size: 1.1875rem;
  font-family: "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 700;
}

h5 {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
}

p {
  font-size: 15px;
  font-size: 0.9375rem;
}

strong, b {
  font-weight: 700;
}

em {
  font-style: italic;
}

.section-title {
  margin-bottom: 24px;
  color: #006699;
}

.label {
  color: #5b5f60;
  font-weight: 700;
}

.body p,
.body ul,
.body ol {
  margin-bottom: 24px;
  color: #838687;
}
.body p:last-child, .body p.label,
.body ul:last-child,
.body ul.label,
.body ol:last-child,
.body ol.label {
  margin-bottom: 0;
}

.body ul,
.body ol {
  margin-left: 1.5em;
}

.body ul li {
  list-style: disc;
}

.body ol li {
  list-style: decimal;
}

.intro {
  margin-bottom: 24px;
}
@media (min-width: 43.75em) {
  .intro {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

[class*="icon-"] {
  display: inline-block;
  background: url('/assets/images/sprite.svg') no-repeat 0 0;
}

.icon-arrow-nav {
  width: 12px;
  height: 8px;
}

.icon-arrow-select {
  width: 11px;
  height: 7px;
  background-position: -15px 0;
}

.icon-arrow-select-lg {
  width: 14px;
  height: 9px;
  background-position: -15px -12px;
}

.icon-arrow-blue-right {
  width: 6px;
  height: 10px;
  margin-left: 2px;
  background-position: -30px 0;
}

.icon-search {
  width: 19px;
  height: 19px;
  background-position: 0 -212px;
}

.icon-calendar {
  width: 19px;
  height: 19px;
  background-position: 0 -235px;
}

.icon-download {
  width: 21px;
  height: 22px;
  background-position: 0 -23px;
}

.icon-add {
  width: 21px;
  height: 22px;
  background-position: 0 -47px;
}

.icon-view {
  width: 21px;
  height: 12px;
  background-position: 0 -72px;
}

[class*="icon-social-"] {
  width: 38px;
  height: 39px;
}

.icon-social-twitter {
  background-position: 0 -87px;
}

.icon-social-facebook {
  background-position: 0 -129px;
}

.icon-social-linkedin {
  background-position: 0 -170px;
}

@media (min-width: 43.75em) {
  .row {
    *zoom: 1;
    margin: 0 -20px;
  }
  .row:before, .row:after {
    content: " ";
    display: block;
  }
  .row:after {
    clear: both;
  }
}

@media (min-width: 43.75em) {
  [class*='col-'] {
    float: left;
    padding: 0 20px;
  }
}

@media (min-width: 43.75em) {
  .col-3-4 {
    width: 75%;
  }
}

@media (min-width: 43.75em) {
  .col-2-3 {
    width: 66.66%;
  }
}

@media (min-width: 43.75em) {
  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 43.75em) {
  .col-1-3 {
    width: 33.33%;
  }
}

@media (min-width: 43.75em) {
  .col-1-4 {
    width: 25%;
  }
}

@media (min-width: 43.75em) {
  .col-1-6 {
    width: 16.666%;
  }
}

body {
  background: #838687;
}

.container {
  background: #fff;
}
@media (min-width: 62.5em) {
  .container {
    *zoom: 1;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 72px;
  }
  .container:before, .container:after {
    content: " ";
    display: block;
  }
  .container:after {
    clear: both;
  }
}

.wrapper {
  *zoom: 1;
  width: 90%;
  margin: 0 auto;
  padding: 24px 0;
}
.wrapper:before, .wrapper:after {
  content: " ";
  display: block;
}
.wrapper:after {
  clear: both;
}
@media (min-width: 43.75em) {
  .wrapper {
    width: 94%;
    max-width: 1208px;
    padding: 72px 0;
  }
}

.mobile-visible {
  visibility: visible;
}

.mobile-hidden {
  visibility: hidden;
}

.col-content p:first-of-type {
  margin-bottom: 24px;
}

@media (min-width: 75em) {
  .col-content-left {
    padding-right: 5.15%;
    padding-top: 48px;
  }
}

@media (min-width: 75em) {
  .col-content-right {
    padding-left: 5.15%;
    padding-top: 48px;
  }
}

@media (min-width: 75em) {
  .col-devices-right img {
    float: right;
    margin-right: -26px;
  }
}

a {
  transition: all 0.15s ease-in;
  color: #006699;
}
a:hover {
  color: #3399cc;
}

.btn {
  font-size: 17px;
  font-size: 1.0625rem;
  display: inline-block;
  min-width: 220px;
  padding: 0.7em 1.5em;
  background: #339900;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.btn:hover {
  background: #359e01;
  color: #fff;
}

.btn-small {
  font-size: 15px;
  font-size: 0.9375rem;
  min-width: 0;
  padding: 0.5em 2em;
}

.btn-blue {
  background: #3399cc;
}
.btn-blue:hover {
  background: #3ba6db;
  color: #fff;
}

.btn-outline {
  background: #fff;
  border: 1px solid #006699;
  color: #006699;
}
.btn-outline:hover {
  background: #fff;
  border-color: #3399cc;
  color: #006699;
}

input[type="submit"],
input[type="button"],
button {
  transition: all 0.15s ease-in;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 0.55em 1.5em;
  background: #339900;
  border: none;
  color: #fff;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.cta-link {
  font-size: 17px;
  font-size: 1.0625rem;
  color: #24292b;
  font-weight: 500;
}

.form-block {
  margin-bottom: 24px;
}

.form-item,
.form-item-set {
  margin-bottom: 12px;
}
.form-item:last-of-type,
.form-item-set:last-of-type {
  margin-bottom: 0;
}

.form-item-set .form-item {
  margin-bottom: 0;
}

.form-two-col {
  *zoom: 1;
}
.form-two-col:before, .form-two-col:after {
  content: " ";
  display: block;
}
.form-two-col:after {
  clear: both;
}
.form-two-col .form-item {
  float: left;
  width: 42%;
  margin-right: 4%;
}
@media (max-width: 31.187em) {
  .form-two-col .form-item {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

label {
  display: block;
  margin-bottom: 4px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #838687;
  outline: none;
  font: 400 1em/1em "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #5b5f60;
}

input[type="file"] {
  background: none;
  border: none;
  font: 400 1em/1em "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  padding: 0.5em 1em;
  border: none;
  background: #99cc66;
  font: 400 1em/1em "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
  color: #fff;
  cursor: pointer;
}

select {
  width: 100%;
  height: 36px;
  padding: 0 10px;
  border: 1px solid #838687;
  outline: none;
  font: 400 1em/1em "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
}

textarea {
  height: 96px;
  resize: none;
}

/** Select ============**/
.form-select {
  position: relative;
}
.form-select:before {
  content: "";
  position: absolute;
  bottom: 17px;
  right: 17px;
  width: 11px;
  height: 7px;
  background: url('/assets/images/sprite.svg') no-repeat -15px -20px;
}

.form-select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  /*
    text-indent: 0.01px;
    text-overflow: '';
  */
}

select::-ms-expand {
  display: none;
}

/** Fieldset ============**/
fieldset {
  margin-bottom: 48px;
}
fieldset:last-of-type {
  margin-bottom: 24px;
}

fieldset .title,
.order-summary .title {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #838687;
  font: 400 24px/1 "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
}

/** Checkboxes ============**/
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.form-checkbox {
  position: relative;
  margin-bottom: 0.5em;
}
.form-checkbox input {
  opacity: 0;
  float: left;
  width: 20px;
}

.form-checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  cursor: pointer;
}
.form-checkbox label:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 13px;
  height: 13px;
  background: #838687;
  border-radius: 3px;
}
.form-checkbox label .description {
  display: block;
  color: #838687;
  font-size: 12px;
  line-height: 1;
}

.form-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 13px;
  height: 15px;
}

.checkboxes input {
  opacity: 0;
  float: left;
  width: 20px;
}

/** Radio ============**/
.form-radio label, .form-radio input {
  display: inline-block;
}

/** Messages ============**/
.message {
  margin-bottom: 12px;
  font-weight: 700;
}
.message.success {
  color: #339900;
}
.message.error {
  color: #cc3333;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  text-align: left;
}

.hero {
  background: #006699;
  color: #fff;
  text-align: center;
}

.hero .wrapper {
  padding: 96px 0;
}

.hero h1:not(:last-child) {
  margin-bottom: 24px;
}

.hero p {
  max-width: 792px;
  margin: 0 auto;
  font-size: 19px;
  font-size: 1.1875rem;
  color: #fff;
}
.hero p:not(:last-child) {
  margin-bottom: 24px;
}

.section-testimonals {
  background: #fffaea;
}

.testimonial-quote {
  font-size: 17px;
  font-size: 1.0625rem;
  position: relative;
  margin-bottom: 16px;
  font-style: italic;
}
@media (min-width: 43.75em) {
  .testimonial-quote {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 30px;
    line-height: 1.875rem;
  }
}

.quote-mark {
  font-size: 48px;
  font-size: 3rem;
  position: absolute;
  left: -34px;
  top: 10px;
  color: #24292b;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 700;
}

.testimonial-info {
  *zoom: 1;
}
.testimonial-info:before, .testimonial-info:after {
  content: " ";
  display: block;
}
.testimonial-info:after {
  clear: both;
}

.testimonial-headshot {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 50%;
}

.testimonial-name-org {
  display: inline-block;
  vertical-align: middle;
}

.testimonial-name {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 500;
}

.logo-grid li {
  float: left;
  width: 33.333%;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: 43.75em) {
  .home-hero .wrapper {
    padding: 120px 0;
  }
}

@media (min-width: 43.75em) {
  .home-hero h1 {
    font-size: 60px;
    font-size: 3.75rem;
  }
}

.home-stats {
  text-align: center;
}

.home-stats .wrapper {
  border-bottom: 1px solid #e9e9e9;
}

.home-stats .section-title {
  color: #24292b;
}

.stat-blocks {
  *zoom: 1;
  margin-bottom: 24px;
}
.stat-blocks:before, .stat-blocks:after {
  content: " ";
  display: block;
}
.stat-blocks:after {
  clear: both;
}
@media (min-width: 43.75em) {
  .stat-blocks {
    width: 824px;
    margin: 0 auto 24px;
  }
}

@media (min-width: 43.75em) {
  .stat-blocks li {
    position: relative;
    float: left;
    width: 382px;
    text-align: left;
  }
}

@media (min-width: 43.75em) {
  .stat-blocks li:first-child {
    margin-right: 60px;
  }
}

.stat-number {
  font-size: 72px;
  font-size: 4.5rem;
  font-family: "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  color: #99cc66;
  line-height: 1;
  font-weight: 500;
}
@media (min-width: 43.75em) {
  .stat-number {
    font-size: 100px;
    font-size: 6.25rem;
  }
}

.stat-label {
  font-size: 17px;
  font-size: 1.0625rem;
}
@media (min-width: 43.75em) {
  .stat-label {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 28px;
    line-height: 1.75rem;
    position: absolute;
    top: 4px;
    right: 0;
    width: 140px;
    padding-top: 6px;
  }
}

.stat-blocks li:first-child .stat-label {
  right: 17px;
}

.home-stats .caption {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #838687;
}

.rates-wrapper {
  padding: 36px 20px;
  background: #006699;
  color: #fff;
  text-align: center;
}
@media (min-width: 43.75em) {
  .rates-wrapper {
    border-radius: 30px;
    margin-right: -20px;
  }
}

.home-pricing .transaction-rates {
  font-size: 36px;
  font-size: 2.25rem;
  margin: 0 -20px 12px;
  font-family: "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  line-height: 1;
}
@media (min-width: 43.75em) {
  .home-pricing .transaction-rates {
    font-size: 48px;
    font-size: 3rem;
    background: rgba(255, 255, 255, 0.1);
  }
}

.home-pricing .caption {
  color: #e9e9e9;
}

.home-pricing .plan-features {
  font-size: 19px;
  font-size: 1.1875rem;
  margin-top: 12px;
  font-weight: 500;
}
@media (min-width: 43.75em) {
  .home-pricing .plan-features {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
}

/* @import "pages/style-guide"; */
.header {
  *zoom: 1;
  overflow: hidden;
}
.header:before, .header:after {
  content: " ";
  display: block;
}
.header:after {
  clear: both;
}
@media (min-width: 62.5em) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
  }
}

.header .wrapper {
  position: relative;
  padding: 1em 0;
}
@media (min-width: 62.5em) {
  .header .wrapper {
    padding: 1.5em 0;
  }
}

.header .logo {
  float: left;
}
@media (min-width: 62.5em) {
  .header .logo {
    position: absolute;
    top: 16px;
    left: 0;
  }
}

.header .nav {
  text-align: center;
}

@media (max-width: 62.437em) {
  .header .nav-links {
    display: none;
  }
  .header .nav-links.is-active {
    display: block;
    padding-top: 12px;
    clear: both;
  }
}

@media (min-width: 62.5em) {
  .header .nav li {
    display: inline-block;
    margin: 0 20px;
  }
}

.header .nav li a {
  position: relative;
  font-weight: 500;
}
@media (max-width: 62.437em) {
  .header .nav li a {
    font-size: 17px;
    font-size: 1.0625rem;
    display: block;
    background: #339900;
    color: #fff;
    padding: 20px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  }
}
@media (min-width: 62.5em) {
  .header .nav li a {
    font-size: 15px;
    font-size: 0.9375rem;
    color: #5b5f60;
  }
}

@media (min-width: 62.5em) {
  .header .nav li a:after {
    transition: all 0.15s ease-in;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -33px;
    display: block;
    height: 6px;
    background: #3399cc;
  }
}

@media (min-width: 62.5em) {
  .header .nav a:hover:after {
    bottom: -27px;
  }
}

.header .btn-mobile {
  float: right;
  min-width: 0;
  padding: 0.5em 1.5em;
}
@media (min-width: 62.5em) {
  .header .btn-mobile {
    display: none;
  }
}

.header .btn-demo {
  font-size: 15px;
  font-size: 0.9375rem;
  position: absolute;
  top: 16px;
  right: 0;
  min-width: 0;
  padding: 0.5em 1.5em;
}
@media (max-width: 62.437em) {
  .header .btn-demo {
    display: none;
  }
}

.bottom-cta {
  text-align: center;
}

.bottom-cta h2 {
  margin-bottom: 24px;
  color: #24292b;
  font-weight: 400;
}

.bottom-cta .btn {
  margin: 0 20px;
}

.footer {
  *zoom: 1;
  color: #fff;
}
.footer:before, .footer:after {
  content: " ";
  display: block;
}
.footer:after {
  clear: both;
}

@media (min-width: 43.75em) {
  .footer .wrapper {
    padding: 48px 0;
  }
}

.footer a {
  color: #fff;
}
.footer a:hover {
  color: #8dc9e8;
}

.footer-top {
  *zoom: 1;
  background: #006699;
}
.footer-top:before, .footer-top:after {
  content: " ";
  display: block;
}
.footer-top:after {
  clear: both;
}

.footer-bottom {
  background: #3399cc;
}

.footer-bottom p {
  font-size: 13px;
  font-size: 0.8125rem;
}

.footer-co-info {
  float: left;
}

.footer-co-info .footer-logo {
  margin-bottom: 18px;
}

.footer-co-info .footer-phone {
  margin-bottom: 12px;
}

.footer-social li {
  float: left;
  margin-right: 10px;
}

.footer-nav {
  float: right;
}

.footer-nav a {
  font-size: 14px;
  font-size: 0.875rem;
}
