* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

iframe {
  width: 100%;
}

object {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

/*****************************************
  TYPOGRAPHY
*****************************************/
body {
  font: 400 1em/1.5em "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
  color: #5b5f60;
}

h1 {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-family: "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  font-weight: 700;
}
@media (min-width: 50em) {
  h1 {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1;
  }
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-family: "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  font-weight: 700;
}
@media (min-width: 50em) {
  h2 {
    font-size: 27px;
    font-size: 1.6875rem;
  }
}

h3 {
  font-size: 17px;
  font-size: 1.0625rem;
  color: #24292b;
  font-family: "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  font-weight: 700;
}
@media (min-width: 50em) {
  h3 {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

h4 {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
}
@media (min-width: 50em) {
  h4 {
    font-size: 17px;
    font-size: 1.0625rem;
  }
}

h5 {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
}

p {
  font-size: 15px;
  font-size: 0.9375rem;
}

strong, b {
  font-weight: 700;
}

em {
  font-style: italic;
}

.center {
  text-align: center;
}

.section-title {
  margin-bottom: 24px;
  color: #006699;
}

.section-title-center {
  margin-bottom: 24px;
  color: #006699;
}
@media (min-width: 50em) {
  .section-title-center {
    font-size: 32px;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 48px;
  }
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5 {
  color: #24292b;
}

.body h2,
.body h3 {
  margin-bottom: 12px;
}

@media (min-width: 50em) {
  .body p + h2, .body p + h3,
  .body ul + h2,
  .body ul + h3,
  .body ol + h2,
  .body ol + h3 {
    margin-top: 48px;
  }
}

.body p,
.body ul,
.body ol {
  margin-bottom: 24px;
}
.body p:last-child, .body p.label,
.body ul:last-child,
.body ul.label,
.body ol:last-child,
.body ol.label {
  margin-bottom: 0;
}

.body ul,
.body ol {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-left: 1.5em;
}

.body ul li {
  list-style: disc;
}

.body ol li {
  list-style: decimal;
}

blockquote {
  margin-bottom: 24px;
  padding: 24px;
  background: #eff7fb;
  border-left: 4px solid #3399cc;
}

blockquote p {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
  line-height: 1.875rem;
  color: #006699;
  font-style: italic;
}
@media (min-width: 50em) {
  blockquote p {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
}

.intro {
  margin-bottom: 24px;
}
@media (min-width: 50em) {
  .intro {
    font-size: 17px;
    font-size: 1.0625rem;
  }
}

/*****************************************
  ICONS
*****************************************/
svg {
  transition: all 0.15s ease-in;
}

svg:not(:root) {
  overflow: hidden;
}

[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

.icon-arrow {
  width: 18px;
  height: 11px;
  fill: #24292b;
}

.icon-checkmark {
  width: 36px;
  height: 29px;
  fill: #99cc66;
}

.icon-search {
  width: 24px;
  height: 24px;
  fill: #006699;
}

.icon-phone {
  width: 18px;
  height: 18px;
  fill: #5b5f60;
}

.icon-email {
  width: 18px;
  height: 14px;
  fill: #5b5f60;
}

.icon-prev {
  width: 18px;
  height: 33px;
}

.icon-next {
  width: 18px;
  height: 33px;
}

.icon-tips {
  width: 43px;
  height: 32px;
  fill: #fff;
  margin-right: 10px;
}

.icon-tag {
  width: 26px;
  height: 27px;
  fill: #24292b;
  margin-right: 10px;
}

.icon-popular {
  width: 26px;
  height: 16px;
  fill: #24292b;
  margin-right: 10px;
}

/*****************************************
  GRID
*****************************************/
@media (min-width: 50em) {
  .row {
    *zoom: 1;
    margin: 0 -20px;
  }
  .row:before, .row:after {
    content: " ";
    display: block;
  }
  .row:after {
    clear: both;
  }
}

@media (max-width: 49.937em) {
  [class^='col-'] {
    margin-bottom: 24px;
  }
}
@media (min-width: 50em) {
  [class^='col-'] {
    float: left;
    padding: 0 20px;
  }
}

@media (min-width: 50em) {
  .col-right {
    float: right;
  }
}

@media (min-width: 50em) {
  .col-3-4 {
    width: 75%;
  }
}

@media (min-width: 50em) {
  .col-2-3 {
    width: 66.66%;
  }
}

@media (max-width: 49.937em) {
  .col-1-2:first-child {
    margin-bottom: 36px;
  }
}
@media (min-width: 50em) {
  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 50em) {
  .col-1-3 {
    width: 33.33%;
  }
}

@media (min-width: 50em) {
  .col-1-4 {
    width: 25%;
  }
}

@media (min-width: 50em) {
  .col-1-6 {
    width: 16.666%;
  }
}

/*****************************************
  LAYOUT
*****************************************/
body {
  background: #838687;
}

.container {
  background: #fff;
}
@media (min-width: 62.5em) {
  .container {
    *zoom: 1;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 72px;
  }
  .container:before, .container:after {
    content: " ";
    display: block;
  }
  .container:after {
    clear: both;
  }
}

.wrapper {
  *zoom: 1;
  width: 90%;
  margin: 0 auto;
  padding: 36px 0;
}
.wrapper:before, .wrapper:after {
  content: " ";
  display: block;
}
.wrapper:after {
  clear: both;
}
@media (min-width: 50em) {
  .wrapper {
    width: 94%;
    max-width: 1208px;
    padding: 72px 0;
  }
}

.main .wrapper {
  position: relative;
}

@media (min-width: 50em) {
  .content-left {
    padding-right: 312px;
  }
}
@media (min-width: 62.5em) {
  .content-left {
    padding-right: 416px;
  }
}

@media (min-width: 50em) {
  .sidebar-right {
    position: absolute;
    top: 72px;
    right: 0;
    width: 272px;
  }
}
@media (min-width: 62.5em) {
  .sidebar-right {
    width: 376px;
  }
}

.mobile-visible {
  visibility: visible;
}

.mobile-hidden {
  visibility: hidden;
}

/*****************************************
  LINKS / BUTTONS
*****************************************/
a {
  transition: all 0.15s ease-in;
  color: #006699;
}
a:hover {
  color: #3399cc;
}

.btn {
  font-size: 17px;
  font-size: 1.0625rem;
  display: inline-block;
  min-width: 220px;
  padding: 0.7em 1.5em;
  background: #339900;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.btn:hover {
  background: #359e01;
  color: #fff;
}

.btn-small {
  font-size: 15px;
  font-size: 0.9375rem;
  min-width: 0;
  padding: 0.5em 2em;
}

.btn-blue {
  background: #3399cc;
}
.btn-blue:hover {
  background: #3ba6db;
  color: #fff;
}

.btn-outline {
  background: #fff;
  border: 1px solid #006699;
  color: #006699;
}
.btn-outline:hover {
  background: #fff;
  border-color: #3399cc;
  color: #006699;
}

input[type="submit"],
input[type="button"],
button {
  transition: all 0.15s ease-in;
  font-size: 15px;
  font-size: 0.9375rem;
  height: 46px;
  padding: 0 1.5em;
  background: #006699;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  background: #075881;
}

.form .btn-submit {
  width: 100%;
}

.cta-link {
  font-size: 17px;
  font-size: 1.0625rem;
  color: #24292b;
  font-weight: 500;
}

/*****************************************
  FORMS
*****************************************/
.form-item {
  margin-bottom: 12px;
}

label {
  font-size: 15px;
  font-size: 0.9375rem;
  display: block;
}

.form label {
  margin-bottom: 4px;
  color: #24292b;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 1em 1em;
  border: 1px solid #838687;
  outline: none;
  font: 400 0.875em/1em "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #5b5f60;
}

input[type="file"] {
  background: none;
  border: none;
  font: 400 1em/1em "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  padding: 0.5em 1em;
  border: none;
  background: #99cc66;
  font: 400 1em/1em "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
  color: #fff;
  cursor: pointer;
}

select {
  width: 100%;
  height: 36px;
  padding: 0 10px;
  border: 1px solid #838687;
  outline: none;
  font: 400 1em/1em "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
}

textarea {
  height: 96px;
  resize: none;
}

/** Select ============**/
.form-select {
  position: relative;
}
.form-select:before {
  content: "";
  position: absolute;
  bottom: 17px;
  right: 17px;
  width: 11px;
  height: 7px;
}

.form-select select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

/** Fieldset ============**/
fieldset {
  margin-bottom: 48px;
}
fieldset:last-of-type {
  margin-bottom: 24px;
}

fieldset .title,
.order-summary .title {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #838687;
  font: 400 24px/1 "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
}

/** Checkboxes ============**/
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.form-checkbox {
  position: relative;
  margin-bottom: 0.5em;
}
.form-checkbox input {
  opacity: 0;
  float: left;
  width: 20px;
}

.form-checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  cursor: pointer;
}
.form-checkbox label:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 13px;
  height: 13px;
  background: #838687;
  border-radius: 3px;
}
.form-checkbox label .description {
  display: block;
  color: #838687;
  font-size: 12px;
  line-height: 1;
}

.form-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 13px;
  height: 15px;
}

.checkboxes input {
  opacity: 0;
  float: left;
  width: 20px;
}

/** Radio ============**/
.form-radio label, .form-radio input {
  display: inline-block;
}

/** Label Overlay Input ============**/
.form-input-wrap {
  position: relative;
  height: 46px;
  background: #fff;
}

.form-input-wrap label {
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 0.75em 0 0 1em;
  color: #838687;
}

.form-input-wrap input {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
}
.form-input-wrap input:focus {
  border: none;
}

/** Messages ============**/
.message {
  margin-bottom: 12px;
  font-weight: 700;
}
.message.success {
  color: #339900;
}
.message.error {
  color: #cc3333;
}

/*****************************************
  MEDIA (Video/Images)
*****************************************/
.video-embed-wrap {
  position: relative;
  margin-bottom: 24px;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-embed-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure {
  margin-bottom: 24px;
}

figcaption {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem;
  margin: 12px 0;
  color: #838687;
  font-style: italic;
}

/*****************************************
  HERO
*****************************************/
.hero {
  position: relative;
  text-align: center;
}

.hero-blue {
  background: #006699;
  color: #fff;
}

.hero .wrapper {
  padding: 48px 0;
}
@media (min-width: 50em) {
  .hero .wrapper {
    padding: 96px 0;
  }
}

.hero-white .wrapper {
  padding: 48px 0 0;
}
@media (min-width: 50em) {
  .hero-white .wrapper {
    padding: 72px 0 0;
  }
}

.hero h1:not(:last-child) {
  margin-bottom: 24px;
}

.hero p {
  max-width: 792px;
  margin: 0 auto;
  font-size: 15px;
  font-size: 0.9375rem;
}
.hero p:not(:last-child) {
  margin-bottom: 24px;
}
@media (min-width: 50em) {
  .hero p {
    font-size: 19px;
    font-size: 1.1875rem;
  }
}

.hero-white h1 {
  color: #006699;
}

.hero-image-credit {
  font-size: 12px;
  font-size: 0.75rem;
  position: absolute;
  left: 20px;
  bottom: 12px;
  color: rgba(255, 255, 255, 0.5);
}

/*****************************************
  TESTIMONIALS
*****************************************/
.section-testimonals {
  background: #fffaea;
}

.testimonial-quote {
  font-size: 17px;
  font-size: 1.0625rem;
  position: relative;
  margin-bottom: 16px;
  color: #24292b;
  font-family: "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  font-style: italic;
}
@media (max-width: 74.937em) {
  .testimonial-quote {
    padding-left: 24px;
  }
}
@media (min-width: 50em) {
  .testimonial-quote {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 30px;
    line-height: 1.875rem;
    padding-right: 2%;
  }
}

.quote-mark {
  font-size: 36px;
  font-size: 2.25rem;
  position: absolute;
  left: 0;
  top: 8px;
  color: #24292b;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 700;
}
@media (min-width: 75em) {
  .quote-mark {
    font-size: 48px;
    font-size: 3rem;
    top: 10px;
    left: -34px;
  }
}

.testimonial-info {
  *zoom: 1;
  position: relative;
}
.testimonial-info:before, .testimonial-info:after {
  content: " ";
  display: block;
}
.testimonial-info:after {
  clear: both;
}

.testimonial-headshot {
  border-radius: 50%;
}

.testimonial-name-org {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 86px;
  line-height: 20px;
  line-height: 1.25rem;
}

.testimonial-name {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 500;
}

@media (min-width: 50em) and (max-width: 62.437em) {
  .logo-grid {
    margin-top: -20px;
  }
}
@media (min-width: 62.5em) {
  .logo-grid {
    margin-top: -12px;
  }
}

.logo-grid li {
  float: left;
  width: 33.333%;
  margin-bottom: 24px;
  padding: 0 10px;
  text-align: center;
}
@media (min-width: 50em) and (max-width: 62.437em) {
  .logo-grid li {
    width: 50%;
    margin-bottom: 12px;
  }
}

@media (min-width: 50em) and (max-width: 62.437em) {
  .logo-grid li:nth-child(5),
  .logo-grid li:nth-child(6) {
    margin-bottom: 0;
  }
}

/*****************************************
  CONTENT SECTIONS
*****************************************/
.col-content p:first-of-type {
  margin-bottom: 24px;
}

@media (min-width: 50em) {
  .col-content p + h3 {
    margin-top: 48px;
  }
}

@media (min-width: 75em) {
  .col-content-left {
    padding-right: 6.75%;
    padding-top: 48px;
  }
}

@media (min-width: 75em) {
  .col-content-right {
    padding-left: 6.75%;
    padding-top: 48px;
  }
}

@media (min-width: 50em) {
  .col-float-right {
    float: right;
  }
}

@media (min-width: 75em) {
  .col-devices-right img {
    float: right;
    margin-right: -26px;
  }
}

.col-content h3 {
  font-size: 17px;
  font-size: 1.0625rem;
  margin-bottom: 6px;
}
@media (min-width: 50em) {
  .col-content h3 {
    font-size: 19px;
    font-size: 1.1875rem;
  }
}

/*****************************************
  PAGER / POST NAV (Blog)
*****************************************/
.post-nav {
  *zoom: 1;
  font-size: 13px;
  font-size: 0.8125rem;
  position: relative;
  margin-bottom: 24px;
}
.post-nav:before, .post-nav:after {
  content: " ";
  display: block;
}
.post-nav:after {
  clear: both;
}

.pager {
  text-align: center;
}
@media (max-width: 31.187em) {
  .pager {
    display: none;
  }
}

.pager li {
  display: inline-block;
}

.pager a {
  display: block;
  padding: 5px 10px;
}

@media (min-width: 31.25em) {
  .older-newer-posts li {
    position: absolute;
    top: 5px;
  }
}

.older-newer-posts li:nth-child(1) {
  float: left;
}
@media (min-width: 31.25em) {
  .older-newer-posts li:nth-child(1) {
    left: 0;
  }
}

.older-newer-posts li:nth-child(2) {
  float: right;
}
@media (min-width: 31.25em) {
  .older-newer-posts li:nth-child(2) {
    right: 0;
  }
}

.older-newer-posts [class^="icon-"] {
  width: 8px;
  height: 14px;
  vertical-align: -2px;
  fill: #006699;
}

/*****************************************
  TIPS SIGN UP BLOCK (Newsletter)
*****************************************/
.block-tips {
  padding: 36px 30px;
  background: #3399cc;
  color: #fff;
}

@media (max-width: 49.937em) {
  .content-left .block-tips {
    display: none;
  }
}

.sidebar .block-tips .form-input-wrap {
  margin-bottom: 12px;
}

.sidebar .block-tips .btn-submit {
  width: 100%;
}

.block-tips .block-title {
  margin-bottom: 12px;
  color: #fff;
}

.block-tips p {
  margin-bottom: 24px;
}

.newsletter-form {
  position: relative;
}

.content-left .newsletter-form {
  max-width: 500px;
  height: 42px;
  padding-right: 140px;
}

.content-left button {
  position: absolute;
  top: 0;
  right: 0;
}

.content-left .newsletter-form .form-input-wrap {
  float: left;
  width: 100%;
}

/*****************************************
  HOME
*****************************************/
.hero-home {
  background: #006699 url('/assets/images/hero-home.jpg') no-repeat center center;
  background-size: cover;
}

@media (min-width: 50em) {
  .hero-home .wrapper {
    padding: 120px 0;
  }
}

@media (min-width: 50em) {
  .hero-home h1 {
    font-size: 60px;
    font-size: 3.75rem;
  }
}

.home-stats {
  text-align: center;
}

.home-stats .wrapper {
  background: url('/assets/images/stats-bar-graph.svg') no-repeat center bottom;
  background-size: contain;
  border-bottom: 1px solid #e9e9e9;
}

.home-stats .section-title {
  color: #24292b;
}

.stat-blocks {
  *zoom: 1;
  margin-bottom: 24px;
}
.stat-blocks:before, .stat-blocks:after {
  content: " ";
  display: block;
}
.stat-blocks:after {
  clear: both;
}
@media (min-width: 50em) {
  .stat-blocks {
    width: 824px;
    margin: 0 auto 24px;
  }
}

@media (min-width: 50em) {
  .stat-blocks li {
    position: relative;
    float: left;
    width: 382px;
    text-align: left;
  }
}

@media (max-width: 49.937em) {
  .stat-blocks li:first-child {
    margin-bottom: 24px;
  }
}
@media (min-width: 50em) {
  .stat-blocks li:first-child {
    margin-right: 60px;
  }
}

.stat-number {
  font-size: 72px;
  font-size: 4.5rem;
  font-family: "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  color: #99cc66;
  line-height: 1;
  font-weight: 500;
}
@media (max-width: 49.937em) {
  .stat-number {
    display: block;
  }
}
@media (min-width: 50em) {
  .stat-number {
    font-size: 100px;
    font-size: 6.25rem;
  }
}

.stat-label {
  font-size: 17px;
  font-size: 1.0625rem;
}
@media (min-width: 50em) {
  .stat-label {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 28px;
    line-height: 1.75rem;
    position: absolute;
    top: 4px;
    right: 0;
    width: 140px;
    padding-top: 6px;
  }
}

.stat-blocks li:first-child .stat-label {
  right: 17px;
}

.home-stats .caption {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #838687;
}

@media (max-width: 49.937em) {
  .col-rates {
    margin: 0 -5.5%;
  }
}

.rates-wrapper {
  padding: 36px 20px;
  background: #006699;
  color: #fff;
  text-align: center;
}
@media (min-width: 50em) {
  .rates-wrapper {
    border-radius: 30px;
  }
}
@media (min-width: 75em) {
  .rates-wrapper {
    margin-right: -20px;
  }
}

.home-pricing .transaction-rates {
  font-size: 36px;
  font-size: 2.25rem;
  margin: 0 -20px 12px;
  font-family: "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  line-height: 1;
}
@media (min-width: 50em) {
  .home-pricing .transaction-rates {
    font-size: 48px;
    font-size: 3rem;
    background: rgba(255, 255, 255, 0.1);
  }
}

.home-pricing .caption {
  color: #e9e9e9;
}

.home-pricing .plan-features {
  margin-top: 12px;
}

.home-pricing .plan-features li {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 500;
}
@media (min-width: 50em) {
  .home-pricing .plan-features li {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

/*****************************************
  PRICING
*****************************************/
.section-pricing-plans .wrapper {
  border-bottom: 1px solid #e9e9e9;
}

.section-pricing-plans .col {
  text-align: center;
}
@media (max-width: 49.937em) {
  .section-pricing-plans .col:not(:last-child) {
    margin-bottom: 36px;
  }
}
@media (min-width: 50em) {
  .section-pricing-plans .col {
    float: left;
    width: 33.333%;
    padding: 0 5px;
  }
}
@media (min-width: 62.5em) {
  .section-pricing-plans .col {
    padding: 0 2.5%;
  }
}

.col-best-value .plan-info {
  background: #eff7fb;
}

.plan-info {
  position: relative;
  margin-bottom: 24px;
  padding: 36px 10px;
  background: #f8f8f8;
  border: 1px solid #e9e9e9;
}

.plan-label {
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  font-size: 15px;
  font-size: 0.9375rem;
  top: -16px;
  background: #3399cc;
  width: 200px;
  padding: 4px 0;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.plan-title {
  position: relative;
  color: #24292b;
  font-weight: 500;
}
.plan-title:after {
  content: "";
  display: block;
  width: 42px;
  height: 2px;
  margin: 24px auto;
  background: #b7bbbc;
}

.plan-price {
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 24px;
  color: #24292b;
  line-height: 1;
}
@media (min-width: 50em) and (max-width: 62.437em) {
  .plan-price {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
.plan-price .per-month {
  font-size: 21px;
  font-size: 1.3125rem;
}

.plan-info .transaction-rates {
  font-size: 21px;
  font-size: 1.3125rem;
  color: #838687;
}

.plan-info .caption {
  font-size: 13px;
  font-size: 0.8125rem;
  margin-bottom: 24px;
  color: #838687;
}

@media (min-width: 50em) and (max-width: 62.437em) {
  .plan-info .btn {
    font-size: 15px;
    font-size: 0.9375rem;
    min-width: 0;
  }
}

.section-pricing-plans .plan-features h4 {
  margin-bottom: 12px;
}

.section-pricing-plans .plan-features li {
  font-size: 15px;
  font-size: 0.9375rem;
  color: #838687;
}

.plan-features-plus li:not(:last-child) {
  margin-bottom: 24px;
}

@media (min-width: 50em) {
  .pricing-additional-features h3 {
    margin-bottom: 12px;
  }
}

.pricing-additional-features p:first-of-type {
  margin-bottom: 12px;
}

.pricing-additional-features .feature-cost {
  font-size: 21px;
  font-size: 1.3125rem;
  color: #24292b;
}

.pricing-additional-features .caption {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #838687;
}

.pricing-questions {
  border-bottom: 1px solid #e9e9e9;
}

.pricing-questions .wrapper {
  padding-bottom: 24px;
}

.pricing-questions .col-1-2 {
  margin-bottom: 24px;
}
@media (min-width: 50em) {
  .pricing-questions .col-1-2 {
    margin-bottom: 36px;
  }
}
@media (min-width: 50em) {
  .pricing-questions .col-1-2:nth-child(2n+1) {
    clear: left;
  }
}

.pricing-questions h4 {
  margin-bottom: 12px;
  color: #24292b;
}

/*****************************************
  FEATURES
*****************************************/
.hero-features {
  background: #006699 url('/assets/images/hero-features.jpg') no-repeat center center;
  background-size: cover;
}

.section-features-list {
  background: #fffaea;
}

.section-features-list .wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 50em) {
  .section-features-list .wrapper {
    padding-bottom: 36px;
  }
}

.section-features-list .col-1-2 {
  margin-bottom: 24px;
}
@media (min-width: 50em) {
  .section-features-list .col-1-2 {
    margin-bottom: 36px;
    padding: 0 40px;
  }
}

@media (min-width: 50em) {
  .section-features-list .col-1-2:nth-child(2n+1) {
    clear: left;
  }
}

.section-features-list .col-1-2:last-child {
  margin-bottom: 0;
}

.section-features-list h3 {
  margin-bottom: 6px;
}

@media (min-width: 75em) {
  .section-feature-02 .col-browser-shots {
    padding-right: 0;
  }
}

@media (min-width: 75em) {
  .section-feature-03 .col-graphs {
    padding-left: 0;
  }
}

/*****************************************
  ABOUT
*****************************************/
.hero-about {
  background: #006699 url('/assets/images/hero-about.jpg') no-repeat center center;
  background-size: auto 100%;
}

.hero-about h1 {
  max-width: 792px;
  margin: 0 auto;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 400;
}
@media (min-width: 50em) {
  .hero-about h1 {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 30px;
    line-height: 1.875rem;
  }
}

.hero-about p {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
}
@media (min-width: 50em) {
  .hero-about p {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 30px;
    line-height: 1.875rem;
  }
}

@media (min-width: 50em) {
  .section-our-promise .section-title {
    margin-bottom: 48px;
  }
}

.section-our-promise li {
  font-size: 19px;
  font-size: 1.1875rem;
  padding-left: 46px;
  font-family: "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  color: #24292b;
  background: url('/assets/images/icon-checkmark.svg') no-repeat 0 0;
}
@media (min-width: 50em) {
  .section-our-promise li {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 30px;
    line-height: 1.875rem;
    padding-top: 2px;
    padding-left: 60px;
  }
}

.section-our-promise li:not(:last-child) {
  padding-bottom: 24px;
}

.section-founder {
  background: #99cc66;
  color: #fff;
}

.section-founder .wrapper {
  position: relative;
}

@media (max-width: 49.937em) {
  .col-founder-image {
    float: right;
    width: 120px;
    margin: 0 0 10px 10px;
  }
}
@media (min-width: 50em) and (max-width: 62.437em) {
  .col-founder-image {
    float: left;
    width: 33.333%;
  }
}
@media (min-width: 62.5em) {
  .col-founder-image {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
  }
}

.col-founder-image img {
  border-radius: 50%;
}

@media (min-width: 50em) and (max-width: 62.437em) {
  .col-founder-bio {
    float: left;
    width: 66.666%;
    padding-left: 40px;
  }
}
@media (min-width: 62.5em) {
  .col-founder-bio {
    padding-left: 314px;
  }
}

.col-founder-bio h3 {
  margin-bottom: 12px;
  color: #fff;
}

.col-founder-bio .founder-title {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}
@media (max-width: 37.437em) {
  .col-founder-bio .founder-title {
    display: block;
  }
}
@media (min-width: 37.5em) {
  .col-founder-bio .founder-title {
    margin-left: 6px;
  }
}

.col-founder-bio p:first-of-type {
  margin-bottom: 24px;
}

.col-founder-bio a {
  color: #fff;
  font-weight: 500;
}

.col-founder-bio .icon-arrow {
  fill: #fff;
}

.section-partners {
  *zoom: 1;
  border-bottom: 1px solid #e9e9e9;
}
.section-partners:before, .section-partners:after {
  content: " ";
  display: block;
}
.section-partners:after {
  clear: both;
}

@media (min-width: 50em) {
  .section-partners .wrapper {
    padding-bottom: 24px;
  }
}

@media (max-width: 49.937em) {
  .section-partners .section-title-center {
    text-align: center;
  }
}

.section-partners .partner-logo {
  margin-bottom: 24px;
}

.section-partners h3 {
  font-size: 19px;
  font-size: 1.1875rem;
  margin-bottom: 12px;
}

.featured-partner {
  max-width: 792px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
}

.partner-list {
  text-align: center;
}

.partner-list .col-1-3 {
  margin-bottom: 48px;
}
.partner-list .col-1-3:nth-child(3n+1) {
  clear: left;
}

@media (min-width: 50em) {
  .partner-list .partner-logo {
    position: relative;
    width: 100%;
    height: 114px;
  }
}

@media (min-width: 50em) {
  .partner-list .partner-logo img {
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

/*****************************************
  CUSTOMERS
*****************************************/
.hero-customers h1 {
  max-width: 792px;
  margin: 0 auto;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
  line-height: 1.875rem;
}
@media (min-width: 50em) {
  .hero-customers h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 42px;
    line-height: 2.625rem;
  }
}

.client-list .col-1-4 {
  margin-bottom: 24px;
}
@media (min-width: 50em) and (max-width: 74.937em) {
  .client-list .col-1-4 {
    width: 33.333%;
  }
}
@media (min-width: 50em) {
  .client-list .col-1-4 {
    margin-bottom: 36px;
  }
}

.client-list .col-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 240px;
  border: 1px solid #e9e9e9;
}

.client-list .client-logo {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
}

.client-list .hover-overlay {
  transition: all 0.15s ease-in;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 102, 153, 0.9);
  text-align: center;
}

.client-list .col-wrap:hover .hover-overlay {
  opacity: 1;
}

.client-teaser {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  padding: 0 10px;
}

.client-teaser h3 {
  color: #fff;
  margin-bottom: 24px;
}

.customers-testimonials {
  border-bottom: 1px solid #e9e9e9;
}

.customers-testimonials .wrapper {
  padding-top: 0;
}

.customers-testimonials .testimonial {
  max-width: 792px;
  margin: 0 auto;
}

.customers-testimonials .testimonial:not(:last-child) {
  margin-bottom: 36px;
}
@media (min-width: 50em) {
  .customers-testimonials .testimonial:not(:last-child) {
    margin-bottom: 72px;
  }
}

/*****************************************
  CASE STUDY
*****************************************/
@media (min-width: 50em) {
  .hero-case-study .wrapper {
    padding: 48px 0;
  }
}

.hero-case-study .label:not(:last-child) {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-bottom: 12px;
}

@media (min-width: 50em) {
  .case-study .wrapper {
    padding-top: 48px;
  }
}

.case-study-info {
  max-width: 792px;
  margin: 0 auto;
  margin-bottom: 24px;
}
@media (min-width: 50em) {
  .case-study-info {
    margin-bottom: 48px;
  }
}

.case-study-images {
  max-width: 1000px;
  margin: 0 auto;
}

.case-study-nav {
  *zoom: 1;
}
.case-study-nav:before, .case-study-nav:after {
  content: " ";
  display: block;
}
.case-study-nav:after {
  clear: both;
}

.case-study-nav .col-1-2 {
  position: relative;
  display: block;
  color: #fff;
  margin-bottom: 0;
  padding: 24px 30px;
  background: #006699;
}
@media (min-width: 50em) {
  .case-study-nav .col-1-2 {
    padding: 36px 30px;
  }
}

.case-study-nav a:first-child {
  text-align: right;
  padding-left: 40px;
}
.case-study-nav a:first-child [class^="icon-"] {
  left: 20px;
}

.case-study-nav a:nth-child(2) {
  background: #3399cc;
  padding-right: 40px;
}
.case-study-nav a:nth-child(2) [class^="icon-"] {
  right: 20px;
}

.case-study-nav .label {
  font-size: 13px;
  font-size: 0.8125rem;
}

.case-study-nav h3 {
  color: #fff;
}

.case-study-nav [class^="icon-"] {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  fill: #fff;
}

/*****************************************
  BLOG PAGE
*****************************************/
.hero-blog {
  background: #006699;
  color: #fff;
}

.hero-blog .wrapper {
  padding: 36px 0;
}

.hero-blog h1 {
  margin-bottom: 12px;
}
@media (min-width: 50em) {
  .hero-blog h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}

.main-blog {
  border-bottom: 1px solid #e9e9e9;
}

.article-list .post {
  margin-bottom: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid #e9e9e9;
}

.post-title {
  margin-bottom: 12px;
}
@media (min-width: 50em) {
  .post-title {
    font-size: 32px;
    font-size: 2rem;
    line-height: 36px;
    line-height: 2.25rem;
    margin-bottom: 8px;
  }
}

.post-meta {
  font-size: 13px;
  font-size: 0.8125rem;
  margin-bottom: 12px;
}

.post-image {
  margin-bottom: 24px;
}

.post-teaser {
  margin-bottom: 24px;
}

/*****************************************
  BLOG ARTICLE
*****************************************/
.content-article .post {
  margin-bottom: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid #e9e9e9;
}

.content-article .post-title {
  color: #24292b;
}

.addthis_sharing_toolbox {
  margin-bottom: 12px;
}

.block-author {
  position: relative;
  width: 100%;
  min-height: 80px;
  margin-bottom: 24px;
}
@media (min-width: 50em) {
  .block-author {
    min-height: 120px;
    margin-bottom: 36px;
  }
}

.author-image {
  float: right;
  width: 80px;
  margin: 0 0 10px 10px;
}
@media (min-width: 50em) {
  .author-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
  }
}
.author-image img {
  border-radius: 50%;
}

@media (min-width: 50em) {
  .author-info {
    padding: 6px 0 0 160px;
  }
}

.author-info .author-name {
  margin-bottom: 6px;
}

/*****************************************
  REQUEST A DEMO
*****************************************/
.page-request .container {
  padding-top: 0;
}

.header-request {
  box-shadow: 0 0 1px #b7bbbc;
}

.header-request .wrapper {
  padding: 24px 0;
  text-align: center;
}

.request-hero h1 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 27px;
  line-height: 1.6875rem;
  max-width: 700px;
  margin: 0 auto;
}
@media (min-width: 50em) {
  .request-hero h1 {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 32px;
    line-height: 2rem;
  }
}

@media (min-width: 75em) {
  .main-request .col-1-2 {
    padding-left: 60px;
  }
}

.col-request-form p {
  margin-bottom: 24px;
}

.col-request-info .request-devices {
  margin-bottom: 36px;
}

.col-request-info h3 {
  font-size: 17px;
  font-size: 1.0625rem;
  margin-bottom: 12px;
}

.col-request-info ul {
  font-size: 15px;
  font-size: 0.9375rem;
}

.col-request-info li {
  margin-bottom: 12px;
  padding-left: 24px;
  background: no-repeat url('/assets/images/icon-arrow-thick.svg') 0 3px;
}

/*****************************************
  FAQ
*****************************************/
.main-faq {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.content-faq h1 {
  margin-bottom: 12px;
  color: #24292b;
}
@media (min-width: 50em) {
  .content-faq h1 {
    font-size: 27px;
    font-size: 1.6875rem;
  }
}

.faq-category {
  padding-top: 24px;
}

.body-faq-answer {
  padding-bottom: 36px;
}

.title-faq-category {
  font-size: 21px;
  font-size: 1.3125rem;
  margin-bottom: 12px;
  font-weight: 400;
}

.faq-category .faq-question {
  font-size: 19px;
  font-size: 1.1875rem;
  margin-bottom: 6px;
  padding-top: 36px;
  border-top: 1px solid #e9e9e9;
  color: #006699;
}

/*****************************************
  HEADER
*****************************************/
.header {
  *zoom: 1;
  overflow: hidden;
  box-shadow: 0 0 1px #b7bbbc;
}
.header:before, .header:after {
  content: " ";
  display: block;
}
.header:after {
  clear: both;
}
@media (min-width: 62.5em) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
  }
}

.header .wrapper {
  position: relative;
  padding: 1em 0;
}
@media (min-width: 62.5em) {
  .header .wrapper {
    padding: 1.5em 0;
  }
}

.header .logo {
  float: left;
}
@media (min-width: 62.5em) {
  .header .logo {
    position: absolute;
    top: 16px;
    left: 0;
  }
}

/*****************************************
  NAV
*****************************************/
.header .nav {
  text-align: center;
}

@media (max-width: 62.437em) {
  .header .nav-links {
    display: none;
  }
  .header .nav-links.is-active {
    display: block;
    padding-top: 12px;
    clear: both;
  }
}

@media (min-width: 62.5em) {
  .header .nav li {
    display: inline-block;
    margin: 0 20px;
  }
}

@media (min-width: 62.5em) {
  .header .nav li:last-child {
    display: none;
  }
}

.header .nav li a {
  position: relative;
  font-weight: 500;
}
@media (max-width: 62.437em) {
  .header .nav li a {
    font-size: 17px;
    font-size: 1.0625rem;
    display: block;
    background: #3399cc;
    color: #fff;
    padding: 20px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  }
}
@media (min-width: 62.5em) {
  .header .nav li a {
    font-size: 15px;
    font-size: 0.9375rem;
    color: #5b5f60;
  }
}

@media (min-width: 62.5em) {
  .header .nav li a:after {
    transition: all 0.15s ease-in;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -33px;
    display: block;
    height: 6px;
    background: #3399cc;
  }
}

@media (min-width: 62.5em) {
  .header .nav a:hover:after {
    bottom: -27px;
  }
}

.header .btn-mobile {
  font-size: 15px;
  font-size: 0.9375rem;
  float: right;
  min-width: 0;
  padding: 0.5em 1.5em;
  background: #3399cc;
}
@media (min-width: 62.5em) {
  .header .btn-mobile {
    display: none;
  }
}

.header .btn-demo {
  font-size: 15px;
  font-size: 0.9375rem;
  position: absolute;
  top: 16px;
  right: 0;
  min-width: 0;
  padding: 0.5em 1.5em;
}
@media (max-width: 62.437em) {
  .header .btn-demo {
    display: none;
  }
}

/*****************************************
  BOTTOM CALL-TO-ACTION
*****************************************/
.bottom-cta {
  text-align: center;
}

.bottom-cta h2 {
  color: #24292b;
  font-weight: 400;
}

.bottom-cta .btn {
  margin: 24px 20px 0;
}

.bottom-two-col {
  *zoom: 1;
}
.bottom-two-col:before, .bottom-two-col:after {
  content: " ";
  display: block;
}
.bottom-two-col:after {
  clear: both;
}

.bottom-cta .col-1-2 {
  padding: 36px 20px;
}
@media (min-width: 50em) {
  .bottom-cta .col-1-2 {
    padding: 72px 20px;
  }
}

@media (max-width: 49.937em) {
  .bottom-cta .col-1-2:first-child {
    margin-bottom: 0;
    border-bottom: 1px solid #e9e9e9;
  }
}
@media (min-width: 50em) {
  .bottom-cta .col-1-2:first-child {
    border-right: 1px solid #e9e9e9;
  }
}

.bottom-social li {
  display: inline-block;
  margin: 24px 10px 0;
}

.bottom-social [class^="icon-"] {
  width: 42px;
  height: 42px;
  fill: #006699;
}
@media (min-width: 50em) {
  .bottom-social [class^="icon-"] {
    width: 54px;
    height: 54px;
  }
}

/*****************************************
  SIDEBAR (Blog)
*****************************************/
.sidebar .block {
  margin-bottom: 24px;
}
@media (min-width: 50em) {
  .sidebar .block {
    margin-bottom: 36px;
  }
}

@media (min-width: 50em) and (max-width: 62.437em) {
  .sidebar .block-title {
    font-size: 17px;
    font-size: 1.0625rem;
  }
}

.search-form {
  position: relative;
}

.search-form .form-input-wrap {
  border: 1px solid #b7bbbc;
}

.search-form .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
}

.block-social-links {
  *zoom: 1;
  padding: 24px 30px;
  background: #eff7fb;
  border: 1px solid #e9e9e9;
}
.block-social-links:before, .block-social-links:after {
  content: " ";
  display: block;
}
.block-social-links:after {
  clear: both;
}

@media (max-width: 62.437em) {
  .block-social-links .block-title {
    margin-bottom: 12px;
  }
}
@media (min-width: 62.5em) {
  .block-social-links .block-title {
    float: left;
    margin-right: 20px;
    padding-top: 5px;
  }
}

.block-social-links li {
  float: left;
  margin-right: 20px;
}

.block-social-links [class^="icon"] {
  width: 36px;
  height: 36px;
  fill: #006699;
}

.block-link-list {
  padding: 24px 30px;
  background: #f8f8f8;
  border: 1px solid #e9e9e9;
}

.block-link-list .block-title {
  margin-bottom: 24px;
}

.block-link-list li:not(:last-child) {
  margin-bottom: 12px;
}

.block-contact {
  padding: 24px 30px;
  background: #f8f8f8;
  border: 1px solid #e9e9e9;
}

.block-contact .block-title {
  margin-bottom: 12px;
}

.block-contact p {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 20px;
  line-height: 1.25rem;
  margin-bottom: 12px;
}

.block-contact li:first-child {
  margin-bottom: 12px;
}

.block-contact li svg {
  vertical-align: -2px;
  margin-right: 10px;
}

/*****************************************
  FOOTER
*****************************************/
.footer {
  *zoom: 1;
  color: #fff;
}
.footer:before, .footer:after {
  content: " ";
  display: block;
}
.footer:after {
  clear: both;
}

@media (min-width: 50em) {
  .footer .wrapper {
    padding: 48px 0;
  }
}

.footer a {
  color: #fff;
}
.footer a:hover {
  color: #eff7fb;
}

.footer-top {
  *zoom: 1;
  background: #006699;
}
.footer-top:before, .footer-top:after {
  content: " ";
  display: block;
}
.footer-top:after {
  clear: both;
}

.footer-bottom {
  background: #3399cc;
}

.footer-bottom p {
  font-size: 13px;
  font-size: 0.8125rem;
}

.footer-co-info {
  *zoom: 1;
  margin-bottom: 24px;
}
.footer-co-info:before, .footer-co-info:after {
  content: " ";
  display: block;
}
.footer-co-info:after {
  clear: both;
}
@media (min-width: 50em) {
  .footer-co-info {
    float: left;
  }
}

.footer-co-info .footer-logo {
  margin-bottom: 18px;
}

.footer-co-info .footer-phone {
  margin-bottom: 12px;
}

.footer-social li {
  float: left;
  margin-right: 10px;
}

.footer-social [class^="icon-"] {
  width: 24px;
  height: 24px;
  fill: #fff;
}

@media (min-width: 50em) {
  .footer-nav {
    float: right;
    width: 66.666%;
  }
}
@media (min-width: 62.5em) {
  .footer-nav {
    width: 50%;
  }
}

@media (min-width: 31.25em) {
  .footer-nav .col {
    float: left;
    width: 33.333%;
  }
}

@media (max-width: 31.187em) {
  .footer-nav .col:not(:last-child) {
    margin-bottom: 24px;
  }
}

.footer-nav h4 {
  margin-bottom: 16px;
}

.footer-nav a {
  font-size: 14px;
  font-size: 0.875rem;
}
