
.hero-about {
  background: $blue $hero-about no-repeat center center;
  background-size: auto 100%;
}

.hero-about h1 {
  @include max-8-col;
  @include font-size(21px);
  @include line-height(24px);
  font-weight: $book;

  @include bp-min-width($medium) {
    @include font-size(27px);
    @include line-height(30px);
  }
}

.hero-about p {
  @include font-size(21px);
  @include line-height(24px);
  font-weight: $bold;

  @include bp-min-width($medium) {
    @include font-size(27px);
    @include line-height(30px);
  }
}

.section-our-promise .section-title {
  @include bp-min-width($medium) {
    margin-bottom: $base*2;
  }
}

.section-our-promise li {
  @include font-size(19px);
  padding-left: 46px;
  font-family: $goth;
  color: $black;
  background: $icon-checkmark no-repeat 0 0;

  @include bp-min-width($medium) {
    @include font-size(24px);
    @include line-height(30px);
    padding-top: 2px;
    padding-left: 60px;
  }
}

.section-our-promise li:not(:last-child) {
  padding-bottom: $base;
}

.section-founder {
  background: $lt-green;
  color: #fff;
}

.section-founder .wrapper {
  position: relative;
}

.col-founder-image {
  @include bp-max-width($medium) {
    float: right;
    width: 120px;
    margin: 0 0 10px 10px;
  }

  @include bp-min-max($medium, $large) {
    float: left;
    width: 33.333%;
  }

  @include bp-min-width($large) {
    @include vertical-center(absolute);
    left: 0;
  }
}

.col-founder-image img {
  border-radius: 50%;
}

.col-founder-bio {
  @include bp-min-max($medium, $large) {
    float: left;
    width: 66.666%;
    padding-left: 40px;
  }

  @include bp-min-width($large) {
    padding-left: 314px;
  }
}

.col-founder-bio h3 {
  margin-bottom: 12px;
  color: #fff;
}

.col-founder-bio .founder-title {
  @include font-size(15px);
  font-family: $goth-ss;
  font-weight: $book;
  font-style: italic;

  @include bp-max-width($small) {
    display: block;
  }

  @include bp-min-width($small) {
    margin-left: 6px;
  }
}


.col-founder-bio p:first-of-type {
  margin-bottom: $base;
}

.col-founder-bio a {
  color: #fff;
  font-weight: $med;
}

.col-founder-bio .icon-arrow {
  fill: #fff;
}

.section-partners {
  @include cf;
  border-bottom: 1px solid $xlt-grey;
}

.section-partners .section-title-center {
  @include bp-max-width($medium) {
    text-align: center;
  }
}

.section-partners .partner-logo {
  margin-bottom: $base;
}

.section-partners h3 {
  @include font-size(19px);
  margin-bottom: 12px;
}

.featured-partner {
  @include max-8-col;
  margin-bottom: $base*2;
  text-align: center;
}

.partner-list {
  text-align: center;
}

.partner-list .col-1-3 {
  margin-bottom: $base*2;
  
  &:nth-child(3n+1) {
    clear: left;
  }
}

.partner-list .partner-logo {
  @include bp-min-width($medium) {
    position: relative;
    width: 100%;
    height: 114px;
  }
}

.partner-list .partner-logo img {
  @include bp-min-width($medium) {
    @include absolute-center;
  }
}

