/*****************************************
  BLOG ARTICLE
*****************************************/

.content-article .post {
  margin-bottom: $base*1.5;
  padding-bottom: $base*1.5;
  border-bottom: 1px solid $xlt-grey;
}

.content-article .post-title {
  color: $black;
}

.content-article .image-alight-right {
  @include bp-min-width($xsmall) {
    float: right;
    margin: 0 0 20px 20px;
  }
}

.content-article .image-alight-left {
  @include bp-min-width($xsmall) {
    float: left;
    margin: 0 20px 20px 0;
  }
}

.addthis_sharing_toolbox {
  margin-bottom: 12px;
}

.block-author {
  position: relative;
  width: 100%;
  min-height: 80px;
  margin-bottom: $base;

  @include bp-min-width($medium) {
    min-height: 120px;
    margin-bottom: $base*1.5;
  }
}

.author-image {
  float: right;
  width: 80px;
  margin: 0 0 10px 10px;

  @include bp-min-width($medium) {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
  }
  
  img {
    border-radius: 50%;
  }
}

.author-info {
  @include bp-min-width($medium) {
    padding: 6px 0 0 160px;
  }
}

.author-info .author-name {
  margin-bottom: 6px;
}