

.hero-blog {
  background: $blue;
  color: #fff;
}

.hero-blog .wrapper {
  padding: $base*1.5 0;
}

.hero-blog h1 {
  margin-bottom: 12px;

  @include bp-min-width($medium) {
    @include font-size(32px);
  }
}

.main-blog {
  border-bottom: 1px solid $xlt-grey;
}

.article-list .post {
  margin-bottom: $base*1.5;
  padding-bottom: $base*1.5;
  border-bottom: 1px solid $xlt-grey;
}

.post-title {
  margin-bottom: 12px;
  
  @include bp-min-width($medium) {
    @include font-size(32px);
    @include line-height(36px);
    margin-bottom: 8px;
  }
}

.post-meta {
  @include font-size(13px);
  margin-bottom: 12px;
}

.post-image {
  margin-bottom: $base;
}

.post-teaser {
  margin-bottom: $base;
}

.block-tips {
  padding: $base*1.5 30px;
  background: $lt-blue;
  color: #fff;
}

.content-left .block-tips {
  @include bp-max-width($medium) {
    display: none;
  }
}

.block-tips .block-title {
  margin-bottom: 12px;
  color: #fff;
}

.block-tips p {
  margin-bottom: $base;
}

.newsletter-form {
  position: relative;
}

.content-left .newsletter-form {
  max-width: 500px;
  height: 42px;
  padding-right: 140px;
}

.content-left button {
  position: absolute;
  top: 0;
  right: 0;
}

.content-left .newsletter-form .form-input-wrap {
  float: left;
  width: 100%;
}


