/*****************************************
  BLOG PAGE
*****************************************/

.hero-blog {
  background: $blue;
  color: #fff;
}

.hero-blog .wrapper {
  padding: $base*1.5 0;
}

.hero-blog h1 {
  margin-bottom: 12px;

  @include bp-min-width($medium) {
    @include font-size(32px);
  }
}

.main-blog {
  border-bottom: 1px solid $xlt-grey;
}

.article-list .post {
  margin-bottom: $base*1.5;
  padding-bottom: $base*1.5;
  border-bottom: 1px solid $xlt-grey;
}

.post-title {
  margin-bottom: 12px;
  
  @include bp-min-width($medium) {
    @include font-size(32px);
    @include line-height(36px);
    margin-bottom: 8px;
  }
}

.post-meta {
  @include font-size(13px);
  margin-bottom: 12px;
}

.post-image {
  margin-bottom: $base;
}

.post-teaser {
  margin-bottom: $base;
}


