
.hero-features {
  background: $hero-features no-repeat center center;
  background-size: cover;
}

.section-features-list {
  background: $creme;
}

.section-features-list .wrapper {
  @include max-10-col;  

  @include bp-min-width($medium) {
    padding-bottom: $base*1.5;
  }
}

.section-features-list .col-1-2 {
  margin-bottom: $base;
  
  @include bp-min-width($medium) {
    margin-bottom: $base*1.5;
    padding: 0 40px;
  }
}

.section-features-list .col-1-2:nth-child(2n+1) {
  @include bp-min-width($medium) {
    clear: left;
  }
}

.section-features-list .col-1-2:last-child {
  margin-bottom: 0;
}

.section-features-list h3 {
  margin-bottom: 6px;
}

.section-feature-02 .col-browser-shots {
  @include bp-min-width($xlarge) {
    padding-right: 0;
  }
}

.section-feature-03 .col-graphs {
  @include bp-min-width($xlarge) {
    padding-left: 0;
  }
}