
.section-pricing-plans .wrapper {
  padding: 0 0 $base*1.5;
  border-bottom: 1px solid $xlt-grey;
}

.section-pricing-plans .col {
  text-align: center;

  &:not(:last-child) {
    @include bp-max-width($medium) {
      margin-bottom: $base*1.5;
    }
  }
  @include bp-min-width($medium) {
    float: left;
    width: 33.333%;
    padding: 0 5px;
  }

  @include bp-min-width($large) {
    padding: 0 2.5%;
  }
}

.col-best-value .plan-info {
  background: $xxlt-blue;
}

.plan-info {
  position: relative;
  margin-bottom: $base;
  padding: $base*1.5 10px;
  background: $xxlt-grey;
  border: 1px solid $xlt-grey;
}

.plan-label {
  @include horizontal-center(absolute);
  @include font-size(15px);
  top: -16px;
  background: $lt-blue;
  width: 200px;
  padding: 4px 0;
  color: #fff;
  font-weight: $med;
  text-transform: uppercase;
}

.plan-title {
  position: relative;
  color: $black;
  font-weight: $med;
  
  &:after {
    content: "";
    display: block;
    width: 42px;
    height: 2px;
    margin: $base auto;
    background: $lt-grey;
  }
}

.plan-price {
  @include font-size(48px);
  margin-bottom: $base;
  color: $black;
  line-height: 1;

  @include bp-min-max($medium, $large) {
    @include font-size(36px);
  }
  
  .per-month {
    @include font-size(21px);
  }
}

.plan-info .transaction-rates {
  @include font-size(21px);
  color: $grey;
}

.plan-info .caption {
  @include font-size(13px);
  margin-bottom: $base;
  color: $grey;
}

.plan-info .btn {
  @include bp-min-max($medium, $large) {
    @include font-size(15px);
    min-width: 0;
  }
}

.section-pricing-plans .plan-features h4 {
  margin-bottom: 12px;
}

.section-pricing-plans .plan-features li {
  @include font-size(15px);
  color: $grey;
}

.plan-features-plus li {
  margin-bottom: $base;
}

.pricing-additional-features h3 {
  margin-bottom: 12px;
}

.pricing-additional-features p:first-of-type {
  margin-bottom: 12px;
}

.pricing-additional-features .feature-cost {
  @include font-size(21px);
  color: $black;
}

.pricing-additional-features .caption {
  @include font-size(13px);
  color: $grey;
}

.pricing-questions {
  border-bottom: 1px solid $xlt-grey;
}

.pricing-questions .wrapper {
  padding-bottom: $base;
}

.pricing-questions .col-1-2 {
  margin-bottom: $base;

  @include bp-min-width($medium) {
    margin-bottom: $base*1.5;
  }

  &:nth-child(2n+1) {
    @include bp-min-width($medium) {
      clear: left;
    }
  }
}

.pricing-questions h4 {
  margin-bottom: 12px;
  color: $black;
}






